<div class="container">
    {{#each cars}}
    <div class="row">

        <div class="col-sm-4">
            <a href="/cars/{{VIN}}"><strong>{{make}} Model {{model}}</strong></a>
        </div>
        <div class="col-sm-4">
            Mileage: {{mileage}}
        </div>
        <div class="col-sm-4">
            Color: {{color}}
        </div>
    </div>

    {{/each}}
    <div class="row">
        <a href="/cars/new"><button class="btn btn-dark">Add new car</button></a>
    </div>
</div>